body{background: #eeeff1;}

.personal-description {
  background: #264957;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 20px;
  padding: 26px 0;
}

.personal-form {
  background: #77808a;
  border-radius: 10px;
  margin: 5px;
  padding: 15px 10px;
}

.title-form {
  text-align: center;
  font-family: monospace;
}

.pl-person {
  text-align: center;
  margin-bottom: 5px;
}

.img-person {
  width: 190px;
  height: 190px;
  background: rgba(188, 190, 193, 0.71);
  margin-top: 5px;
  margin-bottom: 10px;
}

.wallpaper-user {
  width: 100%;
  height: 300px;
}

.cont-wallp {
  padding: 0;
  margin: 0;
  background: none;
}

.img-user {
  width: 150px;
  height: 150px;
  margin-top: -75px;
  padding: 0;
  background-color: #2b2d31;
  margin-bottom: 5px;
}

.elm {
  padding: 0 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.div-file {
  position: relative;
  padding: 10px;
  width: 80px;
  background-color: #298e39;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #121b16;
  text-align: center;
}

.button-img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  opacity: 0;
  height: 100%;
}

.txt-button {
  color: #ffffff;
  font-weight: bold;
}

.div-position {
  margin-top: -100px;
  width: 150px;
}

.txt-help {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  color: #a82323;
  font-size: 15px;
}
